.main_container {
  display: flex;
}
.main_nav {
  margin-right: 50px;
}
.main_nav_list {
  display: block;
}
.main_nav_item {
  color: white;
  list-style: none;
  margin-bottom: 10px;
  font-size: 20px;
}
.main_nav_link {
  color: black;
  text-decoration: none;
}
